body{margin: 0;
    padding: 0;
    background-color: rgb(1, 34, 72);
    font-family: 'googleapis','sans-serif';
    box-sizing: border-box;
}
#navbar {
    margin: auto;
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
}

#logo-container{
    display: flex;
    align-items: center;

}

#logo-container img{
    width: 40px;
    height: 35px;
}

#nav-item{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
   font-weight: 300;
}

#span{
justify-content: end;
align-items: end;
}

#nav-item li{
    cursor:pointer;
} 

/* main heder */

#main-header{
    display: flex;
    justify-content: flex-end ;
    color: white ;
    position: relative;
}

/* left part */
#main-header .left
{   position: absolute;
    width: 40%;
    top: 100px;
    left: 10%;
    height: 100%;
    color: rgb(167, 213, 253);
}
#main-header .left .big-text{
    font-size: 70px;
    font-weight: 900;
    color:rgb(198, 212, 148);
}

#main-header .left #overview{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
    
}

#main-header .left #overview .overview-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header .left #overview .overview-item .h4{
    font-size: 10px;
    margin-bottom: 0;
    padding: 0;

} 

.gradient-text{
    color:rgb(255, 80, 235);
}

#main-header .left #overview .overview-item .p{
    margin: 0;
    padding: 0;
    font-weight: 300;
}


/* right part */
#main-header.right
{   width: 90%;
    height: 100%;
    z-index: -10;
    mix-blend-mode: color-dodge ;
}
#main-header.right img{
    width: 100%;
    height: 50vh;
    margin-top: -11vh;
}

/* button */
.buttons{
    display: flex;
}
.btn{
    padding: 10px 40px;
    margin: 10px;
    transform: skewX(-20deg); 
    cursor: pointer;
    background-color: transparent; 
    border: 1px solid #f08484;
    color: white;
}
.btn1{
    background-color: blueviolet;
    background:linear-gradient(45deg,#f08484 6%,#d02f2f 28%,#f0f084 97% );
}

/* band */

.band{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: aliceblue;
    transform: rotate(-3deg);
    border: 1px solid  rgb(42, 1, 86);
    background-color: #5513fa;
    font-size: 20px;
    font-weight: normal;
    box-shadow: 0 80px 32px 0 #695ee0;
    backdrop-filter: blur(4);
}
.band img{
    width: 25px;
    height: 25px;
}

/* section */

.Choose-Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
    text-align: center;
    margin: 0;
    padding: 0;
}
.Choose-Section-title{
    font-size: 40px;
    font-weight: 900PX;
}
.Section-description{
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}
.Choose-Section .image-carousel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.image-carousel .img{
    width: 400px;
    height: 250px;

}
.image-carousel .center-img{
    width: 500px;
    height: 400px;
    
}

/* DISCOVER-SECTION */

.discover-section{
    width: 70px;
    margin: 100px auto;
}

.discover-section .discover-card{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    right: -0px;
    color: rgb(167, 213, 253);
    border: 2px solid rgb(128, 250, 6) ;padding:3px; margin:5pxâ€;
    width: 900px;
    height: 600px;
    border-radius: 7px;
    background:  rgb(27, 82, 146);;
    backdrop-filter: blur(400px);
    box-shadow: 0 8px 32px 0 rgb(75, 110, 163);

}

.discover-card img{
    margin: auto;
    align-self: self-start ;
}

.discover-card-details .big-text{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}
.discover-card-details-btn{
    width: fit-content;
    border: 1px solid rgb(5, 49, 116);
    padding: 8px 10px;
    transform: skewX(-20deg);
}

/* demo card section */
.demo-cards-section{
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aquamarine;
}

/* .demo-cards-section >uttons{
        cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-20deg);
    border: 1px solid blueviolet;
    background: #5513fa;
    background: linear-gradient(45deg , black 6%, pink 25%,rgb(23, 71, 202) 80% );
    color: aliceblue;

} */
.demo-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.demo-card{
    width: 200px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid blue;
    background :rgb(0, 49, 105) ;
    box-shadow: 0 8px 32px 0 rgb(75, 110, 163);
    backdrop-filter: blur(4px);
}

.demo-card  .img{
    width: 100%;
}
.demo-prof-details > img{
    width: 40px;
    height: 40px;
}

.demo-card .h5{
    margin: 0;
    align-self: self-start;
    font-size: 20px;
}

.demo-card .demo-prof-details {
    display: flex;
    gap: 7px;
    align-self: self-start;
}

.demo-card h5,
.demo-card p{
    margin: 0%;
}

.demo-game-btn{
    cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: skewX(-20deg);
    border: 1px solid blueviolet;
    background: #5513fa;
    background: linear-gradient(45deg , black 6%, pink 25%,rgb(23, 71, 202) 80% );
    color: aliceblue;
}

/* footer- container */

footer>img{
    position: absolute;
    width: 100%;
    height: 112%;
    z-index: -1 ;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: rgb(244, 237, 212);
    padding: 100px 10% 0 10%;
    position: relative;
}
.footer-container .brands{
    display:flex ;
    gap: 50px;
}
.footer-container .brands> img{
    height: 22px;
}


.logo-name{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;

}

.logo-name>img>span{
    width: 40px;
    height: 35px;
}

 .footer-container.about-and-links{
    display: flex;
    justify-content: space-between;
 }

 .footer-container.about-and-links.div{
    width: 22%;
 }
  .footer-container.about-and-links.ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    list-style:none ;
  }
    .footer-container.h4{
        margin: 0;
        font-size: 20px;
        font-weight: 700;
    }